{%extends 'base.html'%}
{%import 'partials/img.html' as img%}


{%block custom_meta%}
<meta content="{{keywords|join(',')}}" name="keywords" />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta content="{{shareText}}" name="description" />
<title>{{pageTitle}}</title>
<meta property="og:url" content="{{url}}" />
<meta property="og:title" content="{{shareTitle}}"/>
<meta property="og:description" content="{{shareText}}" name="description"/>
<meta property="og:image" content="{{imgURL}}"/>
<meta property="og:image:height" content="{{imgHeight}}"/>
<meta property="og:image:width" content="{{imgWidth}}"/>
<meta property="og:type" content="article" />
<meta property="article:author" content="{{authorFBProfile}}" />
<meta property="article:publisher" content="https://www.facebook.com/dallasmorningnews/" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{sectionTwitter}}" />
<meta name="twitter:creator" content="@{{authorTwitter}}" />

<meta name="liveFyreID" content="{{id}}" />

<script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "{{shareTitle}}",
        "url": "{{url}}",
        "thumbnailUrl": "{{imgURL}}",
        "dateCreated": "{{publishDate}}",
        "articleSection": "{{section}}",
        "creator": ["{{authors|join('","')|safe}}"],
        "keywords": ["{{keywords|join('","')|safe}}"]
      }
</script>

<meta property="og:keywords" content="{{keywords|join(',')}}"/>

<meta name="news_keywords" content="{{keywords|join(',')}}"/>
{%endblock%}


{%block custom_head%}
<link rel="canonical" href="{{url}}" />
{%endblock%}


{%block ad%}
<script type="text/javascript" src="//www.googletagservices.com/tag/js/gpt.js"></script>
<script type="text/javascript">
DFP_networkId = "11222444";
var DFPSlotSizes = window.isMobile ? [[320,50]] : [[728,90],[970,30]];
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
var pbjs = pbjs || {};
pbjs.que = pbjs.que || [];
pbjs.que.push(function() {
  var pageAds = { //   adUnitID: "position"
              dfpAdPositionTop: "Top",
              dfpAdPositionMiddle: "Top2",
              dfpAdPositionBottom: "Top2"
  };

  for(i in pageAds){
      var bidSlot = new Object();
      bidSlot.code = i;
      bidSlot.sizes = DFPSlotSizes;
      bidSlot.bids = window.isMobile ? window.mobileBids[pageAds[i]] : window.desktopBids[pageAds[i]];
      if(typeof bidSlot.bids != "undefined"){
          if(typeof pbjs.addAdUnits != "undefined"){
              pbjs.addAdUnits(bidSlot);
          }
          window.bidSlots[i] = bidSlot;
      }
  }
});
googletag.cmd.push(function () {
  var DFP_sitepage = "DMN/interactives";
  var dfpSizeMapping = googletag.sizeMapping().
          addSize([992, 480], [[728,90],[970,30]]).
          addSize([0, 0], [[320,50]]).
          build();


  var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top")
                  .addService(googletag.pubads());


  var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top2")
                  .addService(googletag.pubads());



  var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top2")
                  .addService(googletag.pubads());


  googletag.pubads().enableAsyncRendering();
  googletag.pubads().enableSingleRequest();
  googletag.enableServices();

});
</script>
{%endblock%}


{%block content%}

{% raw %}
<script id="ceo-card-template" type="text/x-handlebars-template">


<li class="f-cat" data-cat="cat-{{ceo}}" data-cat2="cat-{{employee}}" data-cat3="cat-{{sectorfilter}}">


  <div class="card card-{{class}}" id="card-{{class}}"  >
    <div class="card-body">
      <div class="card-title clearfix">
        {{#if multipleceos}}
          {{multipleImages photo ceoname}}
        {{else}}
          <img src="images/headshots/{{photo}}.jpg" alt='{{ceoname}}' class="ceo-pic" />
        {{/if}}

          <div class="ceo-info">
            <h4 class="ceo-name">{{ceoname}}</h4>
            <h6><span class="company">{{company}}</span> {{# if sector }}({{sector}}){{/if}}</h6>
            {{#if ceopay2017 includeZero=true}}<h6>Compensation:  <span class="ceocomp">${{formatNumber ceopay2017}} </span></h6>{{/if}}
            <!-- <h6>Company Revenue: ${{revenues}}</h6> -->
          </div>
      </div>

      <div class="card-text">
        <div class="row"> <!--ceo and employee pay row-->
            {{#if medianpay}}
          <div class="pay-info-row border-bottom">
              <p><strong>Median Employee Compensation: ${{formatNumber medianpay}}</strong></p>
              <p>{{namePossessive ceoname}} compensation could pay for <strong><span class="ratio"></span> </strong>{{company}} median employee salaries.</p>
              <div class="employee icons"></div>
              <p class="icon-info">1 icon is equal to 10 employees</p>
          </div>
          {{/if}}


        </div>

      {{#if ceopay2017 includeZero=true}}
      <div class="row">
        <div class="pay-info-row">
          <p>Comparing {{company}} CEO compensation vs. the average of the top 100 D-FW CEOs:</p>
        </div>
      </div>

      <div class="row">
        <div class="pay-info-row need-flex bar-container">
          <p class="label">{{company}} CEO: <strong>${{formatNumber ceopay2017}}</strong></p>
          <span class="ceo-bar"></span>
        </div>
      </div>

      <div class="row">
        <div class="pay-info-row need-flex bar-container">
          <p class="label">Top 100 avg: <strong class="avg"></strong></p>
          <span class="avg-bar"></span>
        </div>
      </div>

    {{/if}}


        {{#if ceonotes}}
        <div class="row">
          <div class="pay-info-row ceo-note-row">
            <p class="ceo-note"> <span class="note">Note:</span> {{ceonotes}}</p>
          </div>
        </div>
        {{/if}}

      </div> <!--card text-->
      </div> <!--card body-->
    </div> <!--card-->
</li>


</script>
{% endraw %}

<section id="content-header">
	{{img.jpg('hero', 'Michael Hogue illustration combining headlines, CEO images, and Reunion Tower')}}

  <header id="story-head">
    <h3>DALLAS-FORT WORTH’S 100 LARGEST PUBLICLY TRADED COMPANIES</h3>
    <h1>Minding the gap</h1>
    <h2>Analysis: Top CEOs at Dallas-Fort Worth public companies earn more than 170 times the median salaries of workers</h2>
    <i class="fa fa-chevron-down"></i>
  </header>
    <!-- end storyHead -->
</section>


<!-- end contentHeader -->

<section class="content-well clearfix">

    <div class="byline-block">
        <p>By <a target="_blank" href="https://www.dallasnews.com/author/aidan-quigley">Aidan Quigley</a> | Staff Writer</p>
        <p>Published August 26, 2018</p>
    </div>
    <!-- end bylineBlock -->

	<div class="shareComments shareCommentsTop">
		<ul id="share-bar1"></ul>
	</div>
	<!-- end shareComments -->

    <p class="intro"><span class="dropcap">T</span>he CEOs of Dallas-Fort Worth’s 100 largest publicly traded companies were paid more than 170 times as much as the median salaries of their employees, an analysis by <em>The Dallas Morning News</em> found.</p>

    <p>The 2017 fiscal year marked the first time that companies had to calculate and disclose the ratio of pay between their top-ranked executives and median employees as part of transparency rules contained in the 2010 Dodd-Frank Wall Street Reform and Consumer Protection Act.</p>

    <p>In North Texas, the average CEO made just over $6 million in 2017, according to filings with the U.S. Securities and Exchange Commission. The region’s median employee pay averaged $66,736.</p>

    <p>Of the top 100 public companies in D-FW by revenue, 71 detailed pay ratios for fiscal year 2017. The disclosure requirement didn’t apply to companies that began their fiscal years after the start of 2017. Those firms will be required to report the pay comparison next year.</p>

    {%include "adblock1.html" %}


    <p>The pay gap is a key component of <a href="#ceos">this year’s examination of CEO compensation</a> at the region’s top public companies. <em>The News</em> partners with consulting firm Longnecker & Associates for the annual study.</p>

    <p>The ratio between CEO and median employee pay has grown exponentially since the 1970s, said Cullum Clark, director of the Bush Institute-Southern Methodist University Economic Growth Initiative and an adjunct professor of economics.</p>

    <p>But that doesn’t mean companies are expanding and creating more jobs, he said. </p>

    <p>“With this explosive growth in the difference between CEO pay and the median employee, there’s not a lot of data to show that it has made for a more prosperous economy,” he said. </p>

  </section>
  <div class="image-block full-block">
    {{img.jpg('ellison', 'J.C. Penney CEO Marvin Ellision speaks on stage during an annualc staff meeting in 2016.')}}
    <p class="cutline">Consumer companies like J.C. Penney, led by CEO Marvin Ellison (above), had the highest CEO-to-median-employee-pay ratios in D-FW. Ellison’s 2017 compensation was 753 times what the company’s median employee made. (File photo)</p>
  </div>

  <section class="content-well">

    <p class="subhead">Complicated calculus</p>

    <p>Large companies with lots of international employees and high percentages of part-time employees tend to have higher ratios between CEOs and median employees, said Ryan Colucci, an executive compensation consultant with CAP Partners. </p>

    <p>That was the case with Grand Prairie-based Six Flags. It reported the widest gap between its CEO pay and its median employee — 1,804-to-1. </p>

    <p>That’s largely because Six Flags relies heavily on seasonal employees and because CEO Jim Reid-Anderson got around $9 million in shares when he returned to the chief executive role, the company said in its regulatory filing. Reid-Anderson had been the company’s executive chairman after serving as CEO from 2010 to 2016.</p>

    <p>Excluding seasonal employees, the pay gap drops to 264-to-1, according to Six Flags’ filing.</p>

    <p>CEO pay also varied by sector. </p>

    <p>Consumer companies had the highest ratios in D-FW, and Colucci said CAP’s analysis found that sector also had the highest ratios nationwide. He attributed that to retailers’ use of part-time employees. </p>

    <p>In D-FW, Plano-based consumer stalwarts J.C. Penney and Cinemark had the second and third highest pay gaps in the region. </p>

    <p>At J.C. Penney, the median employee was identified as a part-time hourly associate who made $14,366 in 2017. Cinemark’s median employee was an hourly theater usher who made an average of $5,971 in 535 hours.</p>

    <p>Both companies’ CEOs were paid multimillion-dollar salaries. </p>

    <div class="subscribe-cta">
      <h4>Looking for more great business analysis?</h4>
      <p>If you want to keep up on all the business news in D-FW, please consider supporting dallasnews.com by subscribing today.</p>
      <a href="https://join.dallasnews.com/subscribe">Subscribe now</a>
    </div>


    <p>J.C. Penney believes its 753-to-1 ratio equaled or bettered most of its retail competitors, spokesman Joey Thomas said.</p>

    <p>“All compensation at J.C. Penney is above the federal minimum wage and is competitive by location, position and level of experience,” he said. </p>

    <p>In filings, companies stressed that many variables go into the pay ratio, making it difficult to compare competitors even in the same industry. </p>

    <p>Plano-based manufacturer Diodes Inc. said its 577-to-1 pay gap, the fifth highest on this year’s D-FW list, is skewed by a large number of employees working in countries where labor costs are lower. Nearly two out of three employees at the company are laborers, mostly located in Asia, and the company’s annual median pay for employees was $9,575. </p>

    <p>Diodes also calculated its ratio for its median U.S. employee, which is 36-to-1. The company has 250 U.S. employees. </p>

    <p>Overall, the Longnecker & Associates analysis found that while consumer companies had the largest pay gap, ratios for energy and financial services companies in North Texas were lower than other industries. </p>

  </section>
  <div class="image-block full-block">
    {{img.jpg('stephenson', 'AT&T CEO Randall Stephenson speaks with Google CEO Sundar Pichai at the Annual Allen & Company Sun Valley Conference.')}}
    <p class="cutline">AT&T CEO Randall Stephenson (right), speaks with Google CEO Sundar Pichai at the annual Allen & Company Sun Valley Conference in July. Stephenson, the region’s highest-paid CEO, made 366 times as much as his company’s median employee. (Drew Angerer/Getty Images)</p>
  </div>

  <section class="content-well">

    <p class="subhead">Bigger salaries</p>

    <p>Overall, D-FW CEOs saw their pay rise again in 2017. CEO pay at the area’s top 100 companies averaged $6.4 million, an 11 percent increase from the $5.8 million average in 2016, according to Longnecker. </p>

    <p>Two top 10 companies in revenue — AT&T and Kimberly-Clark, both based in Dallas — also ranked among the highest in CEO to median employee pay. At AT&T, Randall Stephenson, the region’s highest-paid CEO, made 366 times as much as the telecommunication company’s median employee.</p>

    <p>The second-highest paid CEO, Nexstar Media Group’s Perry A. Sook, saw a sizable boost in his 2017 compensation to $19.3 million after making $1.5 million in 2016, an increase of 1,173 percent. This came from a performance bonus related to Irving-based Nexstar’s $4.6 billion acquisition of Media General in January 2017, which added 40 percent to Nexstar’s free cash flow, the company said. </p>

    <p>Sook was paid nearly 500 times as much as the company’s median employee. The company said the ratio is “unnatural/non-recurring” due to the performance bonus. </p>

    <p>Large companies typically paid their top executives more and, as a result, had higher pay ratios to the median employee. Clark said that gives CEOs an incentive to expand their companies through mergers, which consolidates industries and often reduces competition.</p>

    <p>While defenders of CEO pay practices argue there is a tie between performance and pay, the data does not support that claim, Clark said. Among D-FW companies, there was no discernible connection between the companies with the highest ratio growth and the companies with the highest pay gap. </p>

    <p class="subhead">Little fallout</p>

    <p>Companies spent years bracing for this disclosure, Colucci said. Many were concerned that workers would compare their own pay to the median disclosure.</p>

    <p>“We haven’t really seen the types of pushes we thought we might from those who are concerned about equal pay to say, ‘Look, this is a company you should stay away from,’ ” he said. “We haven’t seen it yet, but it could be coming. We’ll have to see.”</p>


<div class="interactive-intro" id="ceos">
  <div class="interactive-title">
    <h4>Top CEOs in North Texas</h4>
  </div>
  <div class="interactive-intro-text">
    <p class="chatter"><em>The Dallas Morning News</em> works with Houston-based Longnecker & Associates to create this annual report on CEO pay. The figures are taken from the summary tables in each publicly traded company’s filings with the Securities and Exchange Commission. This year, the report also includes a comparison of the pay ratios between the CEO and the median employee salary. <i class="fas fa-user"></i> = 10 employees</p>
  </div>
</div>

  <div class="filter-options filtering">


  <div class="filter-cat">
    <div class="filter">
      <!-- <span class="filter-label">CEO Compensation</span> -->
      <select class="cat1">
        <option value="cat-all">All CEO Compensation</option>
        <option value="cat-one">$0 - $1,000,000</option>
        <option value="cat-five">$1,000,000 - $5,000,000</option>
        <option value="cat-ten">$5,000,000 - $10,000,000</option>
        <option value="cat-fifteen">$10,000,000 - $15,000,000</option>
        <option value="cat-twenty">$15,000,000 - $20,000,000</option>
        <option value="cat-twentyplus">$20,000,000 +</option>
      </select>
    </div>


    <div class="filter">
      <!-- <span class="filter-label">Median Employee Compensation</span> -->
      <select class="cat2">
        <option value="cat-all">All Median Employee Compensation</option>
        <option value="cat-fifty">$0 - $50,000</option>
        <option value="cat-onehundred">$50,000 - $100,000</option>
        <option value="cat-twohundred">$100,000 - $200,000</option>
        <option value ="cat-twohundredplus">$200,000 + </option>
      </select>
    </div>


    <div class="filter">
      <!-- <span class="filter-label">Sector</span> -->
      <select class="cat3">
        <option value="cat-all">All Sectors</option>
        <option value="cat-communications">Communications</option>
        <option value="cat-consumer-discretionary">Consumer Discretionary</option>
        <option value="cat-consumer-staples">Consumer Staples</option>
        <option value="cat-energy">Energy</option>
        <option value="cat-financials">Financials</option>
        <option value="cat-health-care">Health Care</option>
        <option value="cat-industrials">Industrials</option>
        <option value="cat-materials">Materials</option>
        <option value="cat-technology">Technology</option>
        <option value="cat-utilities">Utilities</option>
      </select>
    </div>

  </div>


</div>


<div class="filter-cat-results" id="ceo-list">
  <div class="filter-options" id="search-filter">
  <span class="filter-label" id="search">Search CEO or company
    <input class="search" placeholder="Search" />
  </span>
  </div>
  <ul class="list cards hider" id="cards">


   </ul>
</div>


<div class="filter-options show-all">
    <button class="int-btn" id="showAll">SHOW ALL CEOs</button>
</div>


<p class="source"><strong>NOTE:</strong> Most companies rounded their CEO pay ratios to a whole number, but where they did not, we left the ratio as the company reported. The rankings, however, took into account one decimal place if the ratios reported were the same. Two companies with two CEOs calculated the ratios for each, so there are 102 CEOs ranked in the list. The CEO pay used in the calculation of the ratio may differ from pay reported in the Summary Compensation Tables in a company's proxy. There are several reasons why. In some cases, when a new CEO began in the middle of the year, the companies were required to annualize the salary for the comparison ratio. Some companies included one-time grants or the value of health benefits in their calculations, or made other adjustments in accordance with SEC regulations. <strong>SOURCES:</strong> <em>Dallas Morning News</em> research and Longnecker & Associates</p>

{%include "adblock3.html" %}


    <p class="twitter-tag">Follow Aidan Quigley on Twitter at <a href="https://twitter.com/quigleyaidan">@quigleyaidan.</a></p>


    <section class="credits clearfix">
        <p>Author: <a href="mailto:aidan.quigley@dallasnews.com">Aidan Quigley</a></p>
        <p>Editor: <a href="mailto:agarrett@dallasnews.com">Arnessa Garrett</a></p>
        <p>Copy Editor: <a href="mailto:emailaddress">Name</a></p>
        <!-- <p>Graphics: <a href="mailto:alma.washington@dallasnews.com">Alma Washington</a></p> -->
        <p>Designer: <a href="mailto:alma.washington@dallasnews.com">Alma Washington</a></p>
        <p>Illustration by: <a href="mailto:mhogue@dallasnews.com">Michael Hogue</a></p>
    </section>
	<!-- end credits -->

	<section class="more clearfix">
		<h5>Read more from The Dallas Morning News</h5>
		<a class="clearfix" href="https://interactives.dallasnews.com/2018/pain-and-profit/">
			<img src="images/_pp-share.jpg" alt="D’ashon Morris" />
			<h6>Pain and Profit</h6>
			<p>Your tax money may not help poor, sick Texans get well, but it definitely helps health care companies get rich.</p>
		</a>
		<a class="clearfix" href="https://interactives.dallasnews.com/2018/on-the-campaign-trail-with-lupe-valdez/">
			<img src="images/_lupe-share.jpg" alt="Lupe Valdez" />
			<h6>On the campaign trail with Lupe Valdez</h6>
			<p>Former Dallas County sheriff has bootstrapped her run for Texas governor with marches, miles and modest hotels</p>
		</a>
		<a class="clearfix" href="https://interactives.dallasnews.com/2018/the-makers/">
			<img src="images/_makers-share.jpg" alt="The Makers" />
			<h6>The Makers</h6>
			<p>Texan artisans are pouring their time, sweat and passion into creating heritage pieces that will help sustain a legacy of craftsmanship.</p>
		</a>
	</section>
	<!-- end more -->


    <div class="shareComments">
        <div id="comments"></div>
	</div>
	<!-- end shareComments -->


</section>
<!-- end contentWell -->
{%endblock%}




{%block custom_foot%}
	<script type="text/javascript"></script>
{%endblock%}





{%block custom_social_meta%}
<script type="text/javascript">
  var storyTitle = "{{tweetText}}", // headline in tweet card
	storyURL = "{{url}}",
	leadText = "{{shareText}}", //description in tweet card
	storyIMG = "{{imgURL}}",
	storyAuthor = "{% for author in authors %}{{author}}{{', ' if not loop.last}}{% endfor %}",
	twitterTag = "{{sectionTwitter}}",
	comments = true,
	share = true;
	OAS_sitepage = 'www.dallasnews.com/{{desk}}/{{section}}/';
</script>
{%endblock%}
