{%extends 'base.html'%}
{%import 'partials/img.html' as img%}


{%block custom_meta%}
<meta content="{{keywords|join(',')}}" name="keywords" />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta content="{{shareText}}" name="description" />
<title>{{pageTitle}}</title>
<meta property="og:url" content="{{url}}" />
<meta property="og:title" content="{{shareTitle}}"/>
<meta property="og:description" content="{{shareText}}" name="description"/>
<meta property="og:image" content="{{imgURL}}"/>
<meta property="og:image:height" content="{{imgHeight}}"/>
<meta property="og:image:width" content="{{imgWidth}}"/>
<meta property="og:type" content="article" />
<meta property="article:author" content="{{authorFBProfile}}" />
<meta property="article:publisher" content="https://www.facebook.com/dallasmorningnews/" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{sectionTwitter}}" />
<meta name="twitter:creator" content="@{{authorTwitter}}" />

<meta name="liveFyreID" content="{{id}}" />

<script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "{{shareTitle}}",
        "url": "{{url}}",
        "thumbnailUrl": "{{imgURL}}",
        "dateCreated": "{{publishDate}}",
        "articleSection": "{{section}}",
        "creator": ["{{authors|join('","')|safe}}"],
        "keywords": ["{{keywords|join('","')|safe}}"]
      }
</script>

<meta property="og:keywords" content="{{keywords|join(',')}}"/>

<meta name="news_keywords" content="{{keywords|join(',')}}"/>
{%endblock%}


{%block custom_head%}
<link rel="canonical" href="{{url}}" />
{%endblock%}


{%block ad%}
<script type="text/javascript" src="//www.googletagservices.com/tag/js/gpt.js"></script>
<script type="text/javascript">
DFP_networkId = "11222444";
var DFPSlotSizes = window.isMobile ? [[320,50]] : [[728,90],[970,30]];
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
var pbjs = pbjs || {};
pbjs.que = pbjs.que || [];
pbjs.que.push(function() {
  var pageAds = { //   adUnitID: "position"
              dfpAdPositionTop: "Top",
              dfpAdPositionMiddle: "Top2",
              dfpAdPositionBottom: "Top2"
  };

  for(i in pageAds){
      var bidSlot = new Object();
      bidSlot.code = i;
      bidSlot.sizes = DFPSlotSizes;
      bidSlot.bids = window.isMobile ? window.mobileBids[pageAds[i]] : window.desktopBids[pageAds[i]];
      if(typeof bidSlot.bids != "undefined"){
          if(typeof pbjs.addAdUnits != "undefined"){
              pbjs.addAdUnits(bidSlot);
          }
          window.bidSlots[i] = bidSlot;
      }
  }
});
googletag.cmd.push(function () {
  var DFP_sitepage = "DMN/interactives";
  var dfpSizeMapping = googletag.sizeMapping().
          addSize([992, 480], [[728,90],[970,30]]).
          addSize([0, 0], [[320,50]]).
          build();


  var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top")
                  .addService(googletag.pubads());


  var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top2")
                  .addService(googletag.pubads());



  var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top2")
                  .addService(googletag.pubads());


  googletag.pubads().enableAsyncRendering();
  googletag.pubads().enableSingleRequest();
  googletag.enableServices();

});
</script>
{%endblock%}


{%block content%}

{% raw %}
<script id="ceo-card-template" type="text/x-handlebars-template">


<li class="f-cat" data-cat="cat-{{ceo}}" data-cat2="cat-{{employee}}" data-cat3="cat-{{sectorfilter}}">


  <div class="card card-{{class}}" id="card-{{class}}"  >
    <div class="card-body">
      <div class="card-title clearfix">
        {{#if multipleceos}}
          {{multipleImages photo ceoname}}
        {{else}}
          <img src="images/headshots/{{photo}}.jpg" alt='{{ceoname}}' class="ceo-pic" />
        {{/if}}

          <div class="ceo-info">
            <h4 class="ceo-name">{{ceoname}}</h4>
            <h6><span class="company">{{company}}</span> {{# if sector }}({{sector}}){{/if}}</h6>
            {{#if ceopay2017 includeZero=true}}<h6>Compensation:  <span class="ceocomp">${{formatNumber ceopay2017}} </span></h6>{{/if}}
            <!-- <h6>Company Revenue: ${{revenues}}</h6> -->
          </div>
      </div>

      <div class="card-text">
        <div class="row"> <!--ceo and employee pay row-->
            {{#if medianpay}}
          <div class="pay-info-row border-bottom">
              <p><strong>Median Employee Compensation: ${{formatNumber medianpay}}</strong></p>
              <p>{{namePossessive ceoname}} compensation could pay for <strong><span class="ratio"></span> </strong>{{company}} median employee salaries.</p>
              <div class="employee icons"></div>
              <p class="icon-info">1 icon is equal to 10 employees</p>
          </div>
          {{/if}}


        </div>

      {{#if ceopay2017 includeZero=true}}
      <div class="row">
        <div class="pay-info-row">
          <p>Comparing {{company}} CEO compensation vs. the average of the top 100 D-FW CEOs:</p>
        </div>
      </div>

      <div class="row">
        <div class="pay-info-row need-flex bar-container">
          <p class="label">{{company}} CEO: <strong>${{formatNumber ceopay2017}}</strong></p>
          <span class="ceo-bar"></span>
        </div>
      </div>

      <div class="row">
        <div class="pay-info-row need-flex bar-container">
          <p class="label">Top 100 avg: <strong class="avg"></strong></p>
          <span class="avg-bar"></span>
        </div>
      </div>

    {{/if}}


        {{#if ceonotes}}
        <div class="row">
          <div class="pay-info-row ceo-note-row">
            <p class="ceo-note"> <span class="note">Note:</span> {{ceonotes}}</p>
          </div>
        </div>
        {{/if}}

      </div> <!--card text-->
      </div> <!--card body-->
    </div> <!--card-->
</li>


</script>
{% endraw %}

<section id="content-header">
	<img src="images/_share.jpg" alt="#" />
	<p class="cutline">Cutline goes here. You can remove this tag if you don't feel the lead image needs a cutline</p>
</section>
<!-- end contentHeader -->

<section class="content-well clearfix">

	<header id="story-head">
		<h3>Label, if needed</h3>
		<h1>CEO Pay</h1>
		<h2>Deck head goes in this spot here</h2>
	</header>
		<!-- end storyHead -->

    <div class="byline-block">
        <p>By <a target="_blank" href="https://www.dallasnews.com/author/aidan-quigley">Aidan Quigley</a> | Staff Writer</p>
        <p>Published August Date, 2018</p>
        <!-- <p>Updated Month, Date, Year</p> -->
    </div>
    <!-- end bylineBlock -->

	<div class="shareComments shareCommentsTop">
		<ul id="share-bar1"></ul>
	</div>
	<!-- end shareComments -->

    <p class="intro"><span class="dropcap">A</span>n opening paragraph goes here. I love the Weather & Opera section plagiarism Julian Assange syndicated process vs. product curmudgeon, attracting young readers cognitive surplus the audience knows more than I do discuss anonymity WikiLeaks hyperhyperlocal Arianna future scoop, Twitter topples dictators the medium is the message information overload natural-born blogger metered model Colbert bump Julian Assange CTR.</p>

    <p>column-inch trolls copyboy data visualization AOL afternoon paper shoot a photo attracting young readers, MinnPost but what's the business model Instagram fair use fourth estate morgue writing, The Work of Art in the Age of Mechanical Reproduction audience atomization overcome free as in beer Pictures of Goats section kitchen table of the future masthead.</p>

    {%include "adblock1.html" %}

    <!--
      use the above include with adblock2.html and adblock3.html to place adblocks 2 and 3, then delete this comment.
      it won't self-destruct, but it is cleaner
    -->

    <p>horse-race coverage copyboy the power of the press belongs to the person who owns one data visualization tweet Jeff Jarvis Patch Like button explainer, TechCrunch should isn't a business model copyright Romenesko WordPress Arianna Kindle Single Pictures of Goats section got drudged, gamification put the paper to bed the other longer Book Review The Work of Art in the Age of Mechanical Reproduction open newsroom Foursquare A.J. Liebling.</p>

    <p>Instagram Quora linkbait people formerly known as the audience bringing a tote bag to a knife fight YouTube RT syndicated the power of the press belongs to the person who owns one, Alberto Ibarguen The Work of Art in the Age of Mechanical Reproduction open newsroom The Weekender the medium is the message Dan Fleckner analog thinking future of context Instagram, David Foster Wallace reporting gutter Aron Pilhofer serendipity This Week in Review he said she said.</p>

    {%include "adblock2.html" %}
    {%include "adblock3.html" %}


<div class="interactive-intro">
  <div class="interactive-title">
    <h4>Top 100 CEOs in North Texas</h4>
  </div>
  <div class="interactive-intro-text">
    <p class="chatter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet felis ligula, eu commodo tortor sagittis eget. Sed tempus augue vitae placerat porttitor. </p>
  </div>
</div>

  <div class="filter-options filtering">


  <div class="filter-cat">
    <div class="filter">
      <!-- <span class="filter-label">CEO Compensation</span> -->
      <select class="cat1">
        <option value="cat-all">All CEO Compensation</option>
        <option value="cat-one">$0 - $1,000,000</option>
        <option value="cat-five">$1,000,000 - $5,000,000</option>
        <option value="cat-ten">$5,000,000 - $10,000,000</option>
        <option value="cat-fifteen">$10,000,000 - $15,000,000</option>
        <option value="cat-twenty">$15,000,000 - $20,000,000</option>
        <option value="cat-twentyplus">$20,000,000 +</option>
      </select>
    </div>


    <div class="filter">
      <!-- <span class="filter-label">Median Employee Compensation</span> -->
      <select class="cat2">
        <option value="cat-all">All Median Employee Compensation</option>
        <option value="cat-fifty">$0 - $50,000</option>
        <option value="cat-onehundred">$50,000 - $100,000</option>
        <option value="cat-twohundred">$100,000 - $200,000</option>
        <option value ="cat-twohundredplus">$200,000 + </option>
      </select>
    </div>


    <div class="filter">
      <!-- <span class="filter-label">Sector</span> -->
      <select class="cat3">
        <option value="cat-all">All Sectors</option>
        <option value="cat-communications">Communications</option>
        <option value="cat-consumer-discretionary">Consumer Discretionary</option>
        <option value="cat-consumer-staples">Consumer Staples</option>
        <option value="cat-energy">Energy</option>
        <option value="cat-financials">Financials</option>
        <option value="cat-health-care">Health Care</option>
        <option value="cat-industrials">Industrials</option>
        <option value="cat-materials">Materials</option>
        <option value="cat-technology">Technology</option>
        <option value="cat-utilities">Utilities</option>
      </select>
    </div>

  </div>


</div>


<div class="filter-cat-results" id="ceo-list">
  <div class="filter-options" id="search-filter">
  <span class="filter-label" id="search">Search CEO or company
    <input class="search" placeholder="Search" />
  </span>
  </div>
  <ul class="list cards hider" id="cards">


   </ul>
</div>


<div class="filter-options show-all">
    <button class="int-btn" id="showAll">SHOW ALL CEOs</button>
</div>

<!-- <div class="filter-cat-results">
  <div class="no-show hidden-cards"></div>
</div> -->





<!-- fixed height, set overflow to hidden
put before element on the div, set height to fixed imgHeigh
transparent to white backgroudnd color
when you click 'show all', it'll add a class and height: auto; overflow: none; -->



    <p class="twitter-tag">Follow Aidan Quigley on Twitter at <a href="https://twitter.com/quigleyaidan">@quigleyaidan.</a></p>


    <section class="credits clearfix">
        <p>Author: <a href="mailto:aidan.quigley@dallasnews.com">Aidan Quigley</a></p>
        <p>Editor: <a href="mailto:agarrett@dallasnews.com">Arnessa Garrett</a></p>
        <p>Copy Editor: <a href="mailto:emailaddress">Name</a></p>
        <!-- <p>Graphics: <a href="mailto:alma.washington@dallasnews.com">Alma Washington</a></p> -->
        <p>Designer: <a href="mailto:alma.washington@dallasnews.com">Alma Washington</a></p>
    </section>
	<!-- end credits -->

	<section class="more clearfix">
		<h5>Read more from The Dallas Morning News</h5>
		<a class="clearfix" href="https://interactives.dallasnews.com/2018/pain-and-profit/">
			<img src="images/_pp-share.jpg" alt="D’ashon Morris" />
			<h6>Pain and Profit</h6>
			<p>Your tax money may not help poor, sick Texans get well, but it definitely helps health care companies get rich.</p>
		</a>
		<a class="clearfix" href="https://interactives.dallasnews.com/2018/on-the-campaign-trail-with-lupe-valdez/">
			<img src="images/_lupe-share.jpg" alt="Lupe Valdez" />
			<h6>On the campaign trail with Lupe Valdez</h6>
			<p>Former Dallas County sheriff has bootstrapped her run for Texas governor with marches, miles and modest hotels</p>
		</a>
		<a class="clearfix" href="https://interactives.dallasnews.com/2018/the-makers/">
			<img src="images/_makers-share.jpg" alt="The Makers" />
			<h6>The Makers</h6>
			<p>Texan artisans are pouring their time, sweat and passion into creating heritage pieces that will help sustain a legacy of craftsmanship.</p>
		</a>
	</section>
	<!-- end more -->


    <div class="shareComments">
        <div id="comments"></div>
	</div>
	<!-- end shareComments -->


</section>
<!-- end contentWell -->
{%endblock%}




{%block custom_foot%}
	<script type="text/javascript"></script>
{%endblock%}





{%block custom_social_meta%}
<script type="text/javascript">
  var storyTitle = "{{tweetText}}", // headline in tweet card
	storyURL = "{{url}}",
	leadText = "{{shareText}}", //description in tweet card
	storyIMG = "{{imgURL}}",
	storyAuthor = "{% for author in authors %}{{author}}{{', ' if not loop.last}}{% endfor %}",
	twitterTag = "{{sectionTwitter}}",
	comments = true,
	share = true;
	OAS_sitepage = 'www.dallasnews.com/{{desk}}/{{section}}/';
</script>
{%endblock%}
