  /*                       */
 /* Default style imports */
/*                       */

@import 'base';


// Should get Hancock to embed these in base, at some point:

@import 'header';
@import 'footer';

@import 'components/side-blocks';
@import 'components/breakouts';


  /*                         */
 /* Project-specific styles */
/*                         */

// Enter your custom styles here.
// .container {
//   max-width: 1100px;
//   margin: 0 auto;
// }
// .cards {
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: 15px;
//   padding: 1.5%;
//   box-sizing: border-box;
// }
// .card {
//   @media (max-width: 700px) {
//     width: 100%;
//   }
//   position: relative;
//   background-color: #fefff9;
//   // width: 500px;
//   height: 300px;
//   // border: 1px solid #000;
//   // border-radius: 4px;
//   overflow: hidden;
//
//   display: flex;
//   flex-direction: column;
// }

// .card-header {
//   font-size: 12px;
//   font-weight: 600;
//   border-bottom: 1px solid #000;
//   background-color: #ffbee;
//   padding: 5px 10px;
// }
//
// .card-main {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding: 15px 0 0 10px;
// }


.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 700px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: .50rem;
  overflow: hidden;
  // height: 300px;
  margin: 10px;
  // box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  box-shadow: 0px 0px 8px .5px #b3b3b3;
}

.card:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 50%);
}


.card-title {
  border-bottom: 1px solid #000;
  background-color: #eee;
  font-size: 2em;
  padding: 10px 10px 20px 10px;
}

.card-title p {
  padding-bottom: 5px;
}

.revenue {
  font-size: 12px;
  float: right;
}

.shift-right {
  float: right
}

.small-font {
  font-size: 12px;
}
// .card-text {
//   display: flex;
//   justify-content: space-between;
// }

.row{
  margin-top: 5px;
  display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;
}

.ceo-pic {
  height:100px;
  border-radius: 50%;
  display: inline;
  margin-bottom: 5px;
}

.pay-info {
  padding-bottom: 5px;
  text-align: center;
  font-size: 1.5em;
  margin-top: 10px;
  width: 200px;
}

.pay-info-row {
  padding-bottom: 5px;
  font-size: 1.5em;
  margin: 10px 0 0 10px;
  width: 100%;
}

.pay-info-row p {
  padding-bottom: 3px;
}

// .ceo-pay {
//   text-align: center;
//   margin-top: 10px;
//   width: 200px;
// }

// .employee-pay {
//   margin-top: 10px;
//   width: 200px;
// }


.ratio {
  font-size: 12px;
  margin: 0 5px 5px 0 ;
}
.ceo-info {
  padding-top: 10px;
}

.fas {
  padding-bottom: 5px
}


.icons {
  // margin: 5px;
  font-size: 1.5em;
}

// second card styles

.ceo-pic-center {
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.ceo-name-center {
  display: flex;
  font-size: 2em;
  justify-content: center;
}
