  /*                       */
 /* Default style imports */
/*                       */

@import 'base';


// Should get Hancock to embed these in base, at some point:

@import 'header';
@import 'footer';




  /*                         */
 /* Project-specific styles */
/*                         */

/*intro*/
.interactive-intro {
  font-family: $sans;
  font-size: 1.7rem;
  width: 90%;
  margin: 0 auto;
  .interactive-title {
    font-weight: bold;
  }
}

/* sort option (select boxes) styles */
.filter-options {
  margin: 0 auto;
  padding: 2.4rem 0 2.4rem 0;
  display: flex;
  flex-wrap: wrap;
  font-family: $sans;
  font-size: 1.3rem;
  width: 90%;
  p {
    margin: 1rem 1rem 1rem 0;
    background-color: $black235;
    padding: 1rem;
    font-weight: bold;
  }
  .filter-label {
    font-weight: bold;
  }
}

.filter-cat {
  display: flex;
}

.filter-cat-results {
  margin: 0 2rem 2rem 0;
}


.filter-cat-results .f-cat {
  display: none;

  &.active {
    display: flex;
  }
}

.filter-cat-results.active .f-cat {
   display: block;
 }

.active {
  display: block;
}
select {
  font-size: 1.3rem;
  margin: 0 .5rem;
}

/* card styles*/
.cards {
  width: 90%;
  // take out width: 90
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.hidden-cards {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-show {
  display: none!important;
}

.hidden-cards::before{
  overflow: hidden;
  height: 50px;
  background: black;
  // background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), white);
  // background: -o-linear-gradient(rgba(255, 255, 255, 0.5), white);
  // background: -moz-linear-gradient(rgba(255, 255, 255, 0.5), white);
  // background: linear-gradient(rgba(255, 255, 255, 0.5), white); }
}


.card {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: .50rem;
  overflow: hidden;
  // height: 300px;
  margin: 0 2rem 2rem 0;
  // box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  box-shadow: 0px 0px 8px .5px #b3b3b3;
}

.card:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 50%);
}


.card-title {
  border-bottom: 1px solid #000;
  background-color: $dmnblue;
  padding: 1rem;
  font-family: $sans;
  color: white;
}

.card-title p {
  padding-bottom: 5px;
}

h4 {
  margin-bottom: .6rem;
}


img {
  float: left;
}


.compare {
  float: right;
  cursor: pointer;
}

.card-text {
  margin-top: 1rem;
}

.row{
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
}

.ceo-pic {
  height:100px;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
}

.ceo-info {
  float: left;
  font-weight: bold;

  h6 {
    margin-bottom: .3rem;
  }
}


.pay-info-row {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0 auto;
  width: 90%;


  p {
    padding-bottom: .5rem;
    font-family: $sans;
  }
}

.pay-row {
  width: 45%;
}

.need-flex {
  display: flex;
  align-items: baseline;
}

.employee-icons {
  margin-bottom: 1rem;
  border-bottom: 1px solid $black215;
}


.fas {
  padding-bottom: 5px;
  margin: .2rem;
}


.icons {
  margin-top: .6rem;
  text-align: justify;
}


.employee-bar, .teacher-bar, .police-bar {
  background-color: red;
  height: 1rem;
}

.label {
  width: 20%;
}
