  /*                       */
 /* Default style imports */
/*                       */

@import 'base';


// Should get Hancock to embed these in base, at some point:

@import 'header';
@import 'footer';




  /*                         */
 /* Project-specific styles */
/*                         */

/*intro*/
.interactive-intro {
  font-family: $sans;
  font-size: 1.7rem;
  width: 100%;
  margin: 4.8rem auto 0;
  .interactive-title {
    font-weight: bold;
  }
}

/* sort option (select boxes) styles */
.filter-options {
  margin: 0 auto;
  padding: 2.4rem 0 2.4rem 0;
  display: flex;
  flex-wrap: wrap;
  font-family: $sans;
  font-size: 1.3rem;
  width: 100%;
  p {
    background-color: $black235;
    padding: 1rem;
    font-weight: bold;
    margin: 1rem 2rem 2rem 0;
  }
  .filter-label {
    font-weight: bold;
  }
  #search {
    width: 100%;
  }
}

#search-filter {
  padding: 0 0 2.4rem 0;
}

.show-all {
  padding: 0;
  button {
    margin: 0 auto;
  }
}

.filter {
  margin-bottom: 1rem;
}

.filter-cat {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.filter-cat-results {
  margin: 0 2rem 0 0;
}


.filter-cat-results .f-cat {
  display: none;

  &.active {
    display: flex;
    @media(max-width: 850px){
      display: block;
    }
  }
}

.filter-cat-results.active .f-cat {
   display: block;
 }

.active {
  display: block;
}
select {
  font-size: 1.3rem;
  margin-right: 1.5rem;
}

/* card styles*/
.cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  flex: 1;
  &.hider {
    li:nth-of-type(n+11) {
      display: none;
    }
    &:after {
      width: 100%;
      height: 25%;
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(255,255,255,0), #fff)
    }
  }
}

.no-show {
  display: none;
}

.cards li {
  flex: 1 1 auto;
  width: calc(50% - 20px);
  display: flex;
  margin: 0 20px 4.8rem 0;
  &:nth-of-type(even) {
    margin-right: 0;
  }
  @media(max-width: 850px) {
    width: 100%;
    margin: 0 0 2.4rem 0;
    display: block;
    max-width: 650px;
    &:nth-of-type(even) {
      margin-right: 0;
    }
  }
}

.card {
  display: flex;
  margin: 0 4rem 4rem 0rem;
  flex-direction: column;
  border: 1px solid $black66;
  border-radius: .50rem;
  overflow: hidden;
  @include transition(all, .1s, ease-out);
  box-shadow: 2px 2px 8px rgba($black121, .3), 2px -2px 8px rgba($black121, .3), -2px 2px 8px rgba($black121, .3), -2px -2px 8px rgba($black121, .3);
  &:hover {
    box-shadow: 4px 4px 12px rgba($black121, .2), 4px -4px 12px rgba($black121, .2), -4px 4px 12px rgba($black121, .2), -4px -4px 12px rgba($black121, .2);
  }
  flex: 1 1 auto;

}

.card-title {
  border-bottom: 1px solid #000;
  background-color: $dmnblue;
  padding: 1.2rem 1rem 1rem;
  font-family: $sans;
  color: white;
}
.card-body {
  padding-bottom: 1.2rem;
}


h4 {
  margin-bottom: .6rem;
}


img {
  float: left;
}


.compare {
  float: right;
  cursor: pointer;
}

.card-text {
  margin-top: 1rem;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.ceo-note-row {
  border-top: 1px solid $black235;
  padding-top: 1.2rem;
  margin-top: 1.2rem !important;
}

.ceo-note {
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding-bottom: 0 !important;
}

.note {
  font-weight: bold;
}

.ceo-pic {
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
  margin-bottom: 2rem;
  width: 20%;
}

@media only screen and (max-width: 550px) {
  .ceo-pic {
    margin-bottom: 0;
  }

  input.search {
    margin-top: 1rem;
    width: 100%;
  }
}

@media only screen and (max-width: 1350px) {
  .filter-cat-results,
  {
    margin-right: 0;
  }
}

.ceo-info {

  font-weight: bold;

  h6 {
    margin-bottom: .3rem;
  }
}


.pay-info-row {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0 auto;
  width: 90%;
  margin-top: .5rem;


  p {
    padding-bottom: .5rem;
    font-family: $sans;
  }
}

.bar-container {
  padding-bottom: 0;
  margin-bottom: .3rem;
}

.icon-info {
  font-size: 1.1rem;
  padding-bottom: 0!important;
}

.need-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.border-bottom {
  border-bottom: 1px solid $black215;
  width: 90%;
  margin: 0 auto;
}

.border-top {
  padding-top: 1rem;
  border-top: 1px solid $black215;
}

.fa-stack:last-of-type {
  .fas:after {
    content: '';
    position: absolute;
    background: #fff;

    width: 100%;
    height: 100%;
    left: 100%;
  }

}

.last0:last-of-type {
  .fas:after {
    left: 100%;
  }
}


.last1:last-of-type {
  .fas:after {
    left: 10%;
  }
}


.last2:last-of-type {
  .fas:after {
    left: 20%;
  }
}


.last3:last-of-type {
  .fas:after {
    left: 30%;
  }
}

.last4:last-of-type {
  .fas:after {
    left: 40%;
  }
}

.last5:last-of-type {
  .fas:after {
    left: 50%;
  }
}

.last6:last-of-type {
  .fas:after {
    left: 60%;
  }
}

.last7:last-of-type {
  .fas:after {
    left: 70%;
  }
}

.last8:last-of-type {
  .fas:after {
    left: 80%;
  }
}

.last9:last-of-type {
  .fas:after {
    left: 90%;
  }
}




.fa-stack {
  width: 2rem;
}


.employee-bar, .teacher-bar, .police-bar, .ceo-bar, .avg-bar {
  background-color: $dmnblue;
  height: 1rem;
}

.label {
  width: 100%;
}

.form-control {
  padding: 6px 12px;
  background-color: rgb(248,248,248);
  background-image: none;
  border: 1px solid rgb(166,166,166);
  border-radius: 4px;
}

.no-padding {
  padding: 0;
}

input {
  width: 20%;
}

.chatter {
  @include type(1.4rem, 1.8rem, 1.2rem);
}
